@import url(http://www.openhiun.com/hangul/nanumbarungothic.css);
* {
	font-family: 'Nanum Barun Gothic', sans-serif;
	margin-left: auto; margin-right: auto;
	text-align : center;
}
#redButton {
		width : 120px;
		height : 35px;
		border : 1px solid  #ab2948;
		background-color :  #ab2948;
		color : #FFFFFF;
		border-radius : 30px;

}
#whiteButton {
		width : 120px;
		height : 35px;
		border : 1px solid  #ab2948;
		color :  #ab2948;
		background-color : #FFFFFF;
		border-radius : 30px;

}
table, tr {
	border : 1px solid grey;
}
table {
	border-collapse: collapse;
}
tr {
	height : 35;
}